<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Lab2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9B05E9321F716ECD00032F19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B05E94B1F716ECD00032F19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B05E9561F716ECD00032F19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
